<section class="login-form">
  <div class="card text-center mx-auto">
    <div class="card-header">
      <p>Login with your KijiStock account</p>
    </div>
    <div class="card-body login-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
        <div class="form-group text-left">
          <label><span class="format-font">What is your e-mail address?</span></label>
          <input type="email" class="form-control" placeholder="Enter e-mail address" formControlName="email">
        </div>
        <div class="form-group text-left">
          <label><span class="format-font">What is your password?</span></label>
          <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        </div>
        <button type="submit" class="btn login-btn">Login</button>
      </form>
      <div class="user-info text-left">
        <a href="#">Forgot your password?</a>
      </div>
      <div class="user-info text-left">
        <a [routerLink]="['/signup']">Create a KijiStock account.</a>
      </div>
    </div>
  </div>
</section>