.login-form {
    margin: 80px auto 0 auto;
    max-width: 520px;
}

.login-content {
    padding-bottom: 40px;
}

.login-form a{
    color: #0000ff;
    font-size: 14px;
    text-decoration: none;
}

p {
    margin: 0;
    font-weight: 600;
    color: #27a97a;
    font-size: 20px;
}

.format-font {
    font-weight: 500;
    color: #333;
}

.user-info {
    margin-top: 2px;
}

.login-btn {
    width: 100%;
    background: #27a97a;
    color: #fff;
    border: 1px solid #249169;
}

.login-btn:hover {
    background: #249169;
    transition: 0.3s;
}

@media ( max-width : 575px) {
    .login-form {
        margin: 60px auto 0 auto;
    }
}