.header {
    z-index: 10;
    color: #ffffff;
}

.header img {
    height: 42px;
    margin-left: 20px;
    margin-right: -16px;
}

.toggle-btn {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background-color: #3fc594;
    border-radius: 3px;
    padding: 0 4px 0 4px;
}

.toggle-btn:hover {
    opacity: 0.8;
}

.dropdown-item:active {
    background-color: #27a97a;
}

hr {
    z-index: 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgba(250, 50, 50), rgba(50, 250, 50) 50%,  rgba(50, 50, 250));
    margin-top: 52px;
}

@media ( max-width : 575px) {
    .header img {
        margin-left: 0;
    }
}