<div class="header dropdown bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']"><img src="../../assets/img/kiji_stock_logo.png" /></a>
  <a class="dropdown-toggle toggle-btn btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngIf="!(auth.loggedIn | async)" [routerLink]="['/login']">Login</a>
    <a class="dropdown-item" *ngIf="!(auth.loggedIn | async)" [routerLink]="['/signup']">Registration</a>
    <a class="dropdown-item" *ngIf="(auth.loggedIn | async)" (click)="onClickLogout()">Logout</a>
    <a class="dropdown-item" *ngIf="(auth.loggedIn | async)" [routerLink]="['/']">Help</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/']">What is KijiStock?</a>
  </div>
</div>
<hr class="fixed-top">
<div class="container-fluid">
  <router-outlet>Loading...</router-outlet>
</div>