<section class="signup-form">
<div class="card text-center mx-auto">
  <div class="card-header">
    <p>Registration</p>
  </div>
  <div class="card-body signup-content">
    <div class="signup" *ngIf="!successfullySignup">
      <h2 class="text-left">New to KijiStock? Register Below.</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)">
        <div class="form-group text-left">
          <label><span class="format-font">My e-mail address is :</span></label>
          <input type="email" class="form-control" placeholder="Enter e-mail address" formControlName="email">
        </div>
        <div class="form-group text-left">
          <label><span class="format-font">My password is :</span></label>
          <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        </div>
        <button type="submit" class="btn signup-btn">Create account</button>
      </form>
    </div>
    <h3 class="mt-4" *ngIf="!successfullySignup">Click here If you want to enter a verification code.</h3>
    <button (click)="successfullySignup = true" *ngIf="!successfullySignup" class="btn btn-secondary">Authenticate with the verification code</button>
    <div class="confirmation" *ngIf="successfullySignup">
      <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(confirmationForm.value)">
        <div class="form-group text-left">
          <label><span class="format-font">What is your e-mail address?</span></label>
          <input type="email" class="form-control" placeholder="Enter e-mail address" formControlName="email">
        </div>
        <div class="form-group text-left">
          <label><span class="format-font">What is a verification code?</span></label>
          <input type="email" class="form-control" placeholder="Enter verification code" formControlName="confirmationCode">
        </div>
        <button type="submit" class="my-3 btn signup-btn">Certification</button>
      </form>
      <button (click)="successfullySignup = false" class="btn btn-secondary text-left">Back to Registration</button>
    </div>
  </div>
</div>
</section>