.signup-form {
    margin: 80px auto 0 auto;
    max-width: 520px;
}

.signup-content {
    padding-bottom: 40px;
}

p {
    margin: 0;
    font-weight: 600;
    color: #27a97a;
    font-size: 20px;
}

h2 {
    margin: 0;
    font-weight: 600;
    color: #27a97a;
    font-size: 16px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    font-weight: 600;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.format-font {
    font-weight: 500;
    color: #333;
}

.signup-btn {
    width: 100%;
    background: #27a97a;
    color: #fff;
    border: 1px solid #249169;
}

.signup-btn:hover {
    background: #249169;
    transition: 0.3s;
}

@media ( max-width : 575px) {
    .signup-form {
        margin: 60px auto 0 auto;
    }
}