@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* フォーカスした時の枠線を消す */
*:focus {
    box-shadow:none !important;
}

header a{
    font-weight: bold;
}

a {
    cursor: pointer;
}

header {
    height: 59px;
    width: 100%;
    background: linear-gradient(to right, rgba(250, 50, 50), rgba(50, 250, 50) 50%,  rgba(50, 50, 250));
}

header img{
    height: 56px;
    margin: -15px 0px -12px -8px;
}