<section class="top row">
  <!-- Stock Item Image -->
  <a class="modal-btn btn" data-toggle="modal" data-target="#stockModal" placement="bottom" ngbTooltip="stock article"
    container="body">
    <img src="../../assets/img/plus.png" />
  </a>
  <!-- Main Content -->
  <div class="main-content">
    <!-- Side Menu -->
    <div class="side-menu">
      <!-- Add Folder Image -->
      <div class="folder">
        <p class="float-left">Folder</p>
        <img src="../../assets/img/add_folder.png" class="float-left" data-toggle="modal" data-target="#folderModal"
          placement="right" ngbTooltip="add folder" container="body" />
      </div>
      <!-- Folder List (Default Hidden) -->
      <div class="sub-toggle-hidden">
        <nav class="navbar navbar-light">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <nav class="nav flex-column">
            <ul class="list-group sub-list-group">
              <li *ngFor="let folder of folderList" class="list-group-item d-flex justify-content-between align-items-center"
                (click)="changeFolder($event)" title="{{folder.name}}" id="{{folder.folderId}}">
                <a>{{folder.name}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Main -->
    <div class="main">
      <p>{{folderName}}</p>
      <!-- Stock Item List -->
      <div *ngFor="let stockItem of stockItemList" class="list-group">
        <div class="list-group-item list-group-item-action">
          <div class="stock-item">
            <img src="{{stockItem.faviconPath}}">&nbsp;<b>{{stockItem.title}}</b>
            <br>
            <a href="{{stockItem.url}}" target="_blank">
              {{stockItem.url}}
            </a>
          </div>
          <div class="delete-btn">
            <img src="../../assets/img/trash_changed.png" (click)="deleteStockItem($event)" alt="{{stockItem.stockItemId}}" placement="top" ngbTooltip="delete"
              container="body" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Settings -->
<!-- Modal of Stock Item Form -->
<div class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Stock Article</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="stock-form">
          <form [formGroup]="stockItemForm" class="input-group" method="post">
            <div class="cp_ipselect cp_sl02">
              <select formControlName="selectFolderName" name="selectFolderName">
                <option *ngFor="let folder of folderList" value="{{folder.folderId}}">
                  {{folder.name}}
                </option>
              </select>
            </div>
            <input formControlName="inputUrl" name="inputUrl" class="stock-input" type="text" placeholder="Please paste the url..."
              aria-label="Stock" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-outline-success stock-btn" (click)="stockItem()">
                <img src="../../assets/img/logo_white.png" />
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal of Add Folder Form -->
<div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Add Folder</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="stock-form">
          <form [formGroup]="addFolderForm" class="input-group" method="post">
            <input formControlName="inputFolderName" name="inputFolderName" class="stock-input" type="text" placeholder="Please enter folder name..."
              aria-label="Folder" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-outline-success stock-btn" (click)="addFolder()">
                <img src="../../assets/img/logo_white.png" />
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>