a {
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #666666;
}

p {
    color: #444;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.close {
    outline: 0;
}

.active {
    background-color: #27a97a;
}

.modal-btn img {
    height: 20px;
}

.modal-btn {
    position: fixed;
    right: 20px;
    z-index: 20;
    margin-top: -18px;
}

.modal-btn:hover {
    opacity: 0.8;
}

.stock-form {
    width: 100%;
    padding: 10px 0;
}

.navbar-toggler {
    outline: 0;
}

.sub-list-group {
    margin-right: 5px;
}

.sub-list-group .list-group-item {
    cursor: pointer;
    font-size: 14px;
    color: #999999;
    border: none;
    border-radius: 0;
}

.sub-list-group .list-group-item:hover {
    background-color: #27a97a;
    color: #fff;
}

.stock-input {
    border: 2px solid lightgray;
    padding: 0 60px 0 15px;
    border-radius: 5px;
    width: 100%;
    color: #444;
}

.stock-input:focus {
    outline: 0;
}

.stock-input:focus::placeholder {
    opacity: 0.6;
}

.stock-btn {
    width: 42px;
    height: 38px;
    margin-left: -42px;
    border-radius: 0 5px 5px 0;
    background-color: #27a97a;
    border: 2px solid lightgray;
    color: #fff;
}

.stock-btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.input-group-btn img{
    width: 32px;
    margin: -6px -8px 0px -8px;
}

.main-content {
    z-index: -10;
    width: 100%;
    margin-top: 65px;
}

.side-menu {
    position: fixed;
    width: 15%;
    left: 4%;
    height: 88vh;
    overflow-y: scroll;
}

.side-menu p {
    font-size: 18px;
}

.main {
    position: absolute;
    width: 75%;
    right: 4%;
    margin-bottom: 50px; 
}

.main p {
    font-size: 20px;
}

.main .list-group-item {
    border-radius: 0;
    border-bottom: none;
}

.main .list-group:last-child {
    border-bottom: 1px solid #DFDFDF; 
}

.stock-item {
    float: left;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-btn {
    float: right;
    cursor: pointer;
    width: 10%;
    text-align: right;
    margin-top: 25px;
}

.delete-btn img {
    width: 20px;
    opacity: 0.4;
}

.delete-btn img:hover {
    opacity: 1;
}

.folder {
    width: 100%;
    height: 40px;
    clear: both;
}

.folder p {
    margin: 0;
    padding: 0;
}

.folder img {
    width: 20px;
    margin-top: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.folder img:hover {
    opacity: 0.8;
}

.cp_ipselect {
	overflow: hidden;
    width: 80%;
    height: 38px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.cp_ipselect select {
    width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
}

.cp_ipselect select::-ms-expand {
    display: none;
}

.cp_ipselect.cp_sl02 {
	position: relative;
	border: 2px solid lightgray;
	border-radius: 5px;
	background: #ffffff;
}

.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
    border-top: 6px solid #444;
    opacity: 0.8;
	pointer-events: none;
}

.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 2px solid lightgray;
}

.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 14px;
    color: #444;
    opacity: 0.8;
    font-weight: 600;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #fff;
    border-left: solid 1px #ececec;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

@media ( max-width : 575px) {
    p {
        display: none;
    }
    .main-content {
        z-index: 0;
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }
    .side-menu {
        z-index: 0;
        height: auto;
        position: relative;
        width: 100%;
        left: 0;
        padding: 0;
        overflow-y: auto;
    }
    .side-menu p {
        text-align: center;
    }
    .main {
        z-index: 0;
        position: relative;
        width: 100%;
        right: 0;
        padding: 0;
    }
    .main p {
        text-align: center;
    }
    .modal-btn {
        right: 0;
    }
    .folder {
        border: 1px solid;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        float: right;
        padding: 8px 0 0 8px;
        margin-top: 8px;
        margin-right: 12px;
    }
    .folder img {
        margin: 0;
    }
}